$dark-blue: #283158;
$light-blue: #3e7d8b;
$light-blue-transparent: rgba(62, 125, 139, 0.45);
$light-blue-more-transparent: rgba(62, 125, 139, 0.15);
$light-blue-most-transparent: rgba(62, 125, 139, 0.07);

$darker-light-blue: #376774;
$light-gray: #e3e3e3;
$darker-light-gray: #bbbbbb;
$darker-gray: #9c9c9c;
$black: #000;
$dark-blue-gray: #2c3e50;
$darker-white: #d2d2d2;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$body-background: $light-gray;
$darker-body-background: $darker-light-gray;
$primary-bg-color: $dark-blue;
$btn-primary-bg: $light-blue;
$btn-primary-bg-hover: $darker-light-blue;
$btn-secondary-color: $darker-gray;
$btn-txt-color: white;
$btn-txt-color-hover: $darker-white;
$primary-link-color: $light-blue;
$primary-text-color: $dark-blue-gray;
$table-borders-color: $light-blue-transparent;
$table-row-hover-color: $light-blue-more-transparent;
$table-row-odd-bg-color: $light-blue-most-transparent;
